.card_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // width: 20%;
    margin: 10px;
    overflow: hidden;
    height: 320px;
    // padding-right: 40px !important;
}


.card_img{
    img{
        height: 140px;
        width: 100%;
    }
    height: 50%;
}

.card_heading{
    text-align: left;
}

.card_reviews{
    color: orange;
}

.card_badge{
    background-color: #ECEB98;
    color: black;
}