.card_body{
    
    margin: 5px;
    // overflow: hidden;
    height: 320px;
}

.card_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card_img{
    img{
        height: 140px;
        width: 200px;
    }
    height: 50%;
    margin-bottom: 5px;
}



.card_reviews{
    color: orange;
}

.card_badge{
    background-color: #ECEB98;
    color: black;
}