.EditProfile_top{
    justify-content: space-between;
    margin: auto 50px;
    align-items: center;

    button{
        border: none;
        padding: 10px 40px;
        border-radius: 10px;
    }
}
.editProfile_form{
    margin: auto 500px !important;
}
.EditProfile_left{
    display: flex;

    h4{
        a{
            text-decoration: none;
        }
    }
}


@media (max-width:1250px) {
    .editProfile_form{
        margin: auto 350px !important;
    }
}

@media (max-width:950px) {
    .editProfile_form{
        margin: auto 150px !important;
    }
}

@media (max-width:600px) {
    .editProfile_form{
        margin: auto 50px !important;
    }
}

@media (max-width:400px) {
    .editProfile_form{
        margin: auto 20px !important;
    }
}