.search_inputfield{
    width: 40vw;
}

.page-footer{
    background-color: rgb(240, 248, 255);
    width: 100vw;
    // position: absolute;
    // top: 100%;
    // bottom: 0%;
}

@media (max-width:1050px){
    .search_inputfield{
        width: 30vw;
    }
}

@media (max-width:992px){
    .search_inputfield{
        width: 80vw;
        margin: auto;
    }
}