body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#container{
    margin: 10px;
}

 #mainP{
    font-weight: 600;
}


#searchInput{
    margin: 10px;
    padding: 5px 20px;
}
.searchBtn{
    max-width: 100px;
}


.HomeHeader1{
    margin: 5px 100px;

    .innerHomeHeader1{
        
    }
}

.innerHomeHeader1Top{
    background-color: papayawhip;
}


.innerHomeHeader1Right{
    position: relative;
    img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 0px 80%;
    }
}
.HomeHeader2{
    background-color: papayawhip;
    color: black;
    margin: 10px 100px;
    font-weight: bolder;
}

.CategoryBtns{
    margin: 0px 100px;
    white-space: nowrap;
    overflow-x: scroll;

    button{
        width: 200px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 5px;
        background-color: #619DD9;  
    }
}

.CategoryBtns::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.CategoryBtns {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.homePageCards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
    flex-wrap: wrap;
    margin: 20px 100px;
    align-items: center;
    justify-content: space-evenly;
}

.HomeHeader3{
    text-align: left;
    margin: auto 100px
}




@media (max-width:1250px) {

.homePageCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    }
}


@media (max-width:992px) {
    .HomeHeader1{
        margin: 10px 0px;
        .innerHomeHeader1{
            justify-content: center;
            text-align: center;
            padding-bottom: 10px;
        }
    }
    .HomeHeader2{
        margin: 10px 20px;
    }

    .CategoryBtns{
        margin: 0px 20px;
    
        button{
            width: 150px;
            text-align: center;
            margin-bottom: 5px;
    
        }
    }

    .homePageCards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin: 20px;
        }

    .HomeHeader3{
        margin: 20px;
    }
}

.mrg{
    margin: 15px;
  cursor: pointer;
}


@media (max-width:668px){
    .homePageCards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin: 20px ;
        }
}

@media (max-width:556px){
    .homePageCards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        }
}