.loginContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.loginBox{
    max-width: 250px;
    text-align: center;
    font-weight: bolder;
    background: rgb(101, 189, 247);
    margin: 30px;
    border: none;
    a{
        text-decoration: none;
        color: white;
        display: block;
        width: 200px;
        padding: 20px;
        text-align: center;
        margin: auto;
    }
}