.searchresults_cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 50px;
    align-items: center;
    justify-content: left;
}


@media (max-width:1450px) {
  
    .searchresults_cards{
    grid-template-columns: repeat(5,1fr);
    }

}
@media (max-width:1250px) {
  
    .searchresults_cards{
    grid-template-columns: repeat(4,1fr);
    }

}

@media (max-width:992px) {
  
    .searchresults_cards{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 20px 45px;
    }

}

@media (max-width:768px) {
  
    .searchresults_cards{
    grid-template-columns: repeat(2,1fr);
    margin: 20px 40px;
    }

}

@media (max-width:562px) {
  
    .searchresults_cards{
    grid-template-columns: repeat(1,1fr);
    margin: 20px;
    }

}
@media (max-width:478px) {
  
    .searchresults_cards{
    grid-template-columns: repeat(1,1fr);
    margin: 20px 5px;
    }

   
}