.set_container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:992px){
    .set_container{
        position:  relative !important;
        padding-left: 10px;
    }
}